

<div class="navbar">
    <div class="left-side">
        <div class="brand">
            <h1>Hackthon</h1>
        </div>

    </div>
    <div class="right-side">
        <ul class="nav-links">
            <li><a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active" ><button mat-raised-button color="warn">Home</button></a></li>
            <li><a class="nav-link" [routerLink]="['/hackthon']"><button mat-raised-button color="warn">Hackthon</button></a></li>
            <li><a class="nav-link" [routerLink]="['/about']"><button mat-raised-button color="warn">About Us</button></a></li>
        </ul>

    </div>
</div>
